.producthead{
    width: 100%;
    /* background-color: blueviolet; */
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.producthead h2{
    font-size: 3rem;
}

.producthead p{
    font-size: 1.5rem;
    text-transform: uppercase;
}

@media screen and (max-width:1440px) {
   
}
 

@media screen and (max-width:1024px) {
    
}