.btn{
    font-size: 1.5rem;
    padding: 1.5rem;
    background-color: #259BCB;
    border-radius:10px;
    outline: none;
    border: none;
    color: var(--white);
    cursor: pointer;
}

.btn:hover{
    box-shadow: 2px 2px 3px var(--black),
    -2px -2px 3px var(--white);
    transition:all .2s ease-in-out;
    background-color: var(--white);
    color: #259BCB;
}

.btn:active{
    box-shadow: 2px 2px 2px var(--white),
    -2px -2px 2px var(--black);
}

@media screen and (max-width:1440px) {
   .btn{
       padding: 1.2rem;
       font-size: 1;
   }
}
@media screen and (max-width:1200px) {
    .btn{
        padding: 1rem;
    }
}

@media screen and (max-width:1024px) {
  
}