.recommend{
    /* background-color:var(--light-blue); */
    background: linear-gradient(30deg ,var(--light-blue),#06599f);
    height: 40vh;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem auto;
    border-radius:60px ;
}

@media screen and (max-width:1440px) {
    .recommend{
    margin-top: 15rem;
    }
}
@media screen and (max-width:1200px) {
    .recommend{
        margin-top: 10rem;
        }
}

@media screen and (max-width:1024px) {
  
}