.footnavitem{
    color: var(--black);
    margin-top: 2rem;    
    font-size: 1.3rem;
    cursor: pointer;
}
@media screen and (max-width:1440px) {
    .footnavitem{
        margin-top: 1rem;
        font-size: 1rem;
    }
 }
 @media screen and (max-width:1200px) {
    .footnavitem{
        margin-top: .8rem;
    }
}
 
 @media screen and (max-width:1024px) {
   
 }