.nav{
    display: flex;
    /* align-items: center; */
    padding-top: 2rem;
    padding-left: 3rem;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
    background:var(--deep-blue);
}