.logo{
    display: flex;
    height: 30%;
    width: fit-content;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    /* padding-left: 3rem; */
    z-index: 4;
    cursor: pointer;
}

.logo img{
    width: 4rem;
    margin-right: 2rem;

}

@media screen and (max-width:1024px) {

  }