.navlinks{
    display: flex;
    /* background-color: aliceblue; */
    width: 64%;
    justify-content: space-evenly;
    /* align-items: center; */
    padding-top: .5rem;
    font-size: 1.5rem;
    z-index: 4;
}

.navlink{
    padding: .5rem;
}
.navlink:hover{
    box-shadow: 2px 2px 3px var(--black),
    -2px -2px 3px var(--white);
    transition:all .3s ease-in-out;
    border-radius: 10px;
}

.active{
    box-shadow: 2px 2px 3px var(--white),
    -2px -2px 3px var(--black);
    transition:all .3s ease-in-out;
    border-radius: 10px;
}


@media screen and (max-width:1444px) {
    .navlinks{
        padding-top:0;
    
    }
    .navlink{
        padding: 0;
    }
    }

@media screen and (max-width:1024px) {
.navlinks{
    padding-top:0;

}
.navlink{
    padding: 0;
}
}